@import "tailwindcss";
@plugin "daisyui";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    width: 100%;
}

.containerr{
    max-width: 1440px;
    margin: auto;
}